@tailwind base;
@tailwind components;
@tailwind utilities;

/*
** Settings
*/

:root {
  --desktop-app-height: 400px;
}

/*
** Defaults
*/

body {
  @apply bg-orange-800;
}

/*
** Normal button
*/

button {
  @apply bg-orange-500 text-orange-900 font-bold py-2 px-4 border-b-4 border-orange-700 rounded;
}
button:hover {
  @apply bg-orange-400 border-orange-500;
}

/*
** Nav button
*/

nav button {
  @apply bg-transparent border-4 border-gray-800 text-gray-900 w-full text-4xl px-0 leading-none my-1;
}
nav button:hover {
  @apply border-gray-400 text-gray-300 bg-transparent;
  transition: 0.2s;
}
nav button:active {
  @apply border-red-600 text-red-700;
}
